@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 219 99% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    



    /*carbon design color palette */
    /* Color styles */
--transparent: 0, 0%, 100%;
--background: 0, 0%, 100%;
--background-hover: 0, 0%, 55.3%;
--background-active: 0, 0%, 55.3%;
--background-selected: 0, 0%, 55.3%;
--background-selected-hover: 0, 0%, 55.3%;
--background-inverse: 0, 0%, 22.4%;
--background-inverse-hover: 0, 0%, 27.8%;
--background-brand: var(--primary);
--layer-01: 0, 0%, 95.7%;
--layer-02: 0, 0%, 100%;
--layer-03: 0, 0%, 95.7%;
--layer-hover-01: 0, 0%, 91%;
--layer-hover-02: 0, 0%, 91%;
--layer-hover-03: 0, 0%, 91%;
--layer-active-01: 0, 0%, 77.6%;
--layer-active-02: 0, 0%, 77.6%;
--layer-active-03: 0, 0%, 77.6%;
--layer-selected-01: 0, 0%, 87.8%;
--layer-selected-02: 0, 0%, 87.8%;
--layer-selected-03: 0, 0%, 87.8%;
--layer-selected-hover-01: 0, 0%, 82%;
--layer-selected-hover-02: 0, 0%, 82%;
--layer-selected-hover-03: 0, 0%, 82%;
--layer-selected-inverse: 0, 0%, 8.6%;
--layer-selected-disabled: 0, 0%, 55.3%;
--layer-accent-01: 0, 0%, 87.8%;
--layer-accent-02: 0, 0%, 87.8%;
--layer-accent-03: 0, 0%, 87.8%;
--layer-accent-hover-01: 0, 0%, 82%;
--layer-accent-hover-02: 0, 0%, 82%;
--layer-accent-hover-03: 0, 0%, 82%;
--layer-accent-active-01: 0, 0%, 65.9%;
--layer-accent-active-02: 0, 0%, 65.9%;
--layer-accent-active-03: 0, 0%, 65.9%;
--field-01: 0, 0%, 95.7%;
--field-02: 0, 0%, 100%;
--field-03: 0, 0%, 95.7%;
--field-hover-01: 0, 0%, 91%;
--field-hover-02: 0, 0%, 91%;
--field-hover-03: 0, 0%, 91%;
--border-subtle-00: 0, 0%, 87.8%;
--border-subtle-01: 0, 0%, 77.6%;
--border-subtle-02: 0, 0%, 87.8%;
--border-subtle-03: 0, 0%, 77.6%;
--border-subtle-selected-01: 0, 0%, 77.6%;
--border-subtle-selected-02: 0, 0%, 77.6%;
--border-subtle-selected-03: 0, 0%, 77.6%;
--border-strong: 0, 0%, 55.3%;
--border-tile-01: 0, 0%, 77.6%;
--border-tile-02: 0, 0%, 65.9%;
--border-tile-03: 0, 0%, 77.6%;
--border-inverse: 0, 0%, 8.6%;
--border-disabled: 0, 0%, 77.6%;
--border-interactive: var(--primary);
--text-primary: 0, 0%, 8.6%;
--text-secondary: 0, 0%, 32.2%;
--text-placeholder: 0, 0%, 65.9%;
--text-on-color: 0, 0%, 100%;
--text-on-color-disabled: 0, 0%, 55.3%;
--text-helper: 0, 0%, 43.5%;
--text-error: 357, 75.8%, 48.6%;
--text-inverse: 0, 0%, 100%;
--text-disabled: 0, 0%, 8.6%;
--link-primary: var(--primary);
--link-primary-hover: 220, 100%, 40.4%;
--link-secondary: 220, 100%, 40.4%;
--link-inverse: 218, 100%, 73.5%;
--link-inverse-hover: 217, 100%, 82.5%;
--link-inverse-active: 0, 0%, 95.7%;
--link-visted: 264, 96.9%, 61.8%;
--link-inverse-visited: 263, 100%, 79.2%;
--icon-primary: 0, 0%, 8.6%;
--icon-secondary: 0, 0%, 32.2%;
--icon-on-color: 0, 0%, 100%;
--icon-on-color-disabled: 0, 0%, 55.3%;
--icon-interactive: var(--primary);
--icon-inverse: 0, 0%, 100%;
--icon-disabled: 0, 0%, 8.6%;
--support-error: 357, 75.8%, 48.6%;
--support-success: 137, 63.5%, 38.6%;
--support-warning: 47, 88.4%, 52.5%;
--support-info: 220, 100%, 40.4%;
--support-caution-major: 25, 100%, 58.4%;
--support-caution-minor: 47, 88.4%, 52.5%;
--support-undefined: 264, 96.9%, 61.8%;
--button-primary: var(--primary);
--button-primary-hover: 219, 100%, 45.1%;
--button-primary-active: 223, 100%, 30.6%;
--button-secondary: 0, 0%, 22.4%;
--button-secondary-hover: 0, 0%, 27.8%;
--button-secondary-active: 0, 0%, 43.5%;
--button-tertiary: var(--primary);
--button-tertiary-hover: 219, 100%, 45.1%;
--button-tertiary-active: 223, 100%, 30.6%;
--button-danger-primary: 357, 75.8%, 48.6%;
--button-danger-secondary: 357, 75.8%, 48.6%;
--button-danger-hover: 357, 76.1%, 41%;
--button-danger-active: 357, 78.6%, 25.7%;
--button-separator: 0, 0%, 87.8%;
--button-disabled: 0, 0%, 77.6%;
--support-inverse-error-inverse: 357, 94.5%, 64.1%;
--support-inverse-success-inverse: 137, 48.8%, 50.2%;
--support-inverse-warning-inverse: 47, 88.4%, 52.5%;
--support-inverse-info-inverse: 218, 100%, 63.5%;
--focus: var(--primary);
--focus-inset: 0, 0%, 100%;
--focus-inverse: 0, 0%, 100%;
--skeleton-element: 0, 0%, 77.6%;
--skeleton-background: 0, 0%, 91%;
--miscellaneous--highlight: 217, 100%, 90.8%;
--miscellaneous--interactive: var(--primary);
--miscellaneous--overlay: 0, 0%, 8.6%;
--miscellaneous--toggle-off: 0, 0%, 93.3%;
--accessibility-white: 0, 0%, 100%;
--accessibility-black: 0, 0%, 0%;
--tag-blue-background: 217, 100%, 90.8%;
--tag-blue-text: 220, 100%, 40.4%;
--tag-blue-hover: 217, 100%, 86.1%;
--tag-cyan-background: 202, 100%, 86.5%;
--tag-cyan-text: 208, 100%, 30.2%;
--tag-cyan-hover: 202, 100%, 80%;
--tag-green-background: 136, 70.9%, 79.8%;
--tag-green-text: 138, 74.5%, 21.6%;
--tag-green-hover: 136, 70.6%, 68%;
--tag-magenta-background: 334, 100%, 92%;
--tag-magenta-text: 334, 73.8%, 35.9%;
--tag-magenta-hover: 334, 100%, 87.1%;
--tag-purple-background: 263, 100%, 92.7%;
--tag-purple-text: 265, 65.4%, 46.5%;
--tag-purple-hover: 263, 100%, 89%;
--tag-red-background: 357, 100%, 92.2%;
--tag-red-text: 357, 73.3%, 36.7%;
--tag-red-hover: 357, 100%, 88%;
--tag-teal-background: 180, 73.2%, 78%;
--tag-teal-text: 180, 100%, 18.2%;
--tag-teal-hover: 180, 73.2%, 62%;
--tag-gray-background: 0, 0%, 87.8%;
--tag-gray-text: 0, 0%, 8.6%;
--tag-gray-hover: 0, 0%, 82%;
--tag-cool-gray-background: 213, 15.3%, 88.4%;
--tag-cool-gray-text: 206, 16.3%, 8.4%;
--tag-cool-gray-hover: 212, 14.9%, 82.9%;
--tag-warm-gray-background: 10, 10.3%, 88.6%;
--tag-warm-gray-text: 0, 7%, 8.4%;
--tag-warm-gray-hover: 7, 10.3%, 82.9%;
--notifications-info-background: 213, 100%, 96.5%;
--notifications-support-info-border: 220, 100%, 40.4%;
--notifications-success-background: 137, 78.4%, 92.7%;
--notifications-support-success-border: 137, 63.5%, 38.6%;
--notifications-error-background: 0, 100%, 97.3%;
--notifications-support-error-border: 357, 75.8%, 48.6%;
--notifications-warning-background: 47, 86.4%, 91.4%;
--notifications-support-warning-border: 47, 88.4%, 52.5%;
--notifications-action-hover: 0, 0%, 100%;
--notifications-action-tertiary-inverse: 0, 0%, 100%;
--notifications-action-tertiary-inverse-text: 206, 16.3%, 8.4%;
--notifications-action-tertiary-inverse-hover: 0, 0%, 100%;

  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .separator::after {
  content: "";
  display: inline-block;
  width: 8px; 
  height: 8px; 
   border-radius: 9999px;
  background-color: #ff8906; 
  margin-left: 8px; 
}

.separator:last-child::after {
  content: none;
}
}